    /* =========================
    FORMULARIOS
    ========================= */
    form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: auto;
    }
    form label {
    font-weight: bold;
    margin-top: 1rem;
    }
    form input, form textarea, form select {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    }
    form input:focus, form textarea:focus, form select:focus {
    border-color: #007bff;
    outline: none;
    }
