    /* =========================
    RESPONSIVE
    ========================= */
    @media (max-width: 768px) {
    h1, h2 {
        font-size: 1.5rem;
    }
    .container-custom {
        width: 95%;
        padding: 1rem 0;
    }
    }
